In [1]:
import pandas as pd

In [2]:
events = pd.read_csv("events.csv")

In [3]:
events.columns

Index(['event_time', 'event_type', 'product_id', 'category_id',
       'category_code', 'brand', 'price', 'user_id', 'user_session', 'ip'],
      dtype='object')

In [7]:
events.shape

(885129, 10)

In [47]:
unique_products = events[["product_id", "category_code", "brand"]].dropna(subset="product_id").fillna("generic").drop_duplicates()

In [48]:
unique_products

        product_id                  category_code        brand
0          1996170          electronics.telephone      generic
1           139905    computers.components.cooler       zalman
2           215454                        generic      generic
3           635807  computers.peripherals.printer       pantum
4          3658723                        generic  cameronsino
...            ...                            ...          ...
884632     4101157                        generic       stayer
884693     3791269  computers.peripherals.scanner    cipherlab
884735     4099355          electronics.telephone      generic
884905      332207     electronics.audio.acoustic         hama
885048     3721183        auto.accessories.player      prology

[53453 rows x 3 columns]

In [49]:
def generate_product_name(row, name_version):
    name = f"""{row["brand"]} {row["category_code"].split(".")[-1]}"""
    version = name_version.get(name, 0) + 1
    name_version[name] = version
    return f"{name} V{version}"

In [50]:
name_version = {}
unique_products["product_name"] = unique_products.apply(lambda row: generate_product_name(row, name_version), axis=1)

In [51]:
unique_products

,product_id,category_code,brand,product_name
0,1996170,electronics.telephone,generic,generic telephone V1
1,139905,computers.components.cooler,zalman,zalman cooler V1
2,215454,generic,generic,generic generic V1
3,635807,computers.peripherals.printer,pantum,pantum printer V1
4,3658723,generic,cameronsino,cameronsino generic V1
...,...,...,...,...
884632,4101157,generic,stayer,stayer generic V41
884693,3791269,computers.peripherals.scanner,cipherlab,cipherlab scanner V1
884735,4099355,electronics.telephone,generic,generic telephone V3535
884905,332207,electronics.audio.acoustic,hama,hama acoustic V32
885048,3721183,auto.accessories.player,prology,prology player V9

In [ ]:
unique_producst.to_csv("products.csv", index=False)